.breadcrumb {
  padding-top: 112px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  max-width: 720px;
  padding-bottom: 24px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}