<div class="breadcrumb">
  <app-breadcrumb [title]="'Favoritos'"></app-breadcrumb>
  <ng-container *ngIf="(favorites$ | async) as favorites">
    <app-no-data-info
    *ngIf="favorites.length === 0" 
    [title]="noDataTitle" 
    [info]="noDataInfo">
  </app-no-data-info>
  </ng-container>
</div>
<div class="character-list">
  <app-character-info 
    class="info-card" 
    *ngFor="let favorite of favorites$ | async" 
    [character]="favorite"
    [isFavorite]="true"
    (favCharater)="toggleFavorite($event)">
  </app-character-info>
  <app-page-loading *ngIf="(loading$ | async) === true"></app-page-loading>
</div>
